h1{
	color: #C3C1C7;
	font-family: 'Rblx';
	text-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.header {
	background-color: #475C56;
	width: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
	border-radius: 15px;
}
.title {
	color: #C3C1C7;
	font-family: 'Dino';
	letter-spacing: 2px;

}

.navbox{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 10px 10px;

}

.navlink {
	text-decoration: none;
	color: #C3C1C7;

}
.navlink:hover {
	color: #65636E;
}

.navstyle{
	gap: 23px;
	list-style: none;
	display: flex;
}

p {
	margin-top: 35px;
	font-family: Baloo;
	font-size: 16px;
	color:#C3C1C7;;
	text-align: center;
}

.homeimg {
	width: 200px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 2);
}

.footer {
	margin: 30px 150px;
	text-decoration: none;
	background-color: #475C56;
	padding: -5px 5px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 1.5);
}

.footbar{
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 10px 10px;

}

.footlink {
	text-decoration: none;
	color: #C3C1C7;

}
.footlink:hover {
	color: #65636E;
}


.footstyle{
	gap: 25px;
	list-style: none;
	display: flex;
}

.liststyle{
		font-family: 'Lost';
}





@font-face{
			font-family: 'Dino';
			src: local('Dinosaur');
		}


@font-face{
			font-family: 'Rblx';
			src: local('RobloxFont-Regular');
}

@font-face{
	font-family: 'Baloo';
	src: local("Baloo2-Bold");
}

@font-face{
	font-family: 'Lost';
	src: local('Lost Tumbler');
}

nav {
	font-family:'Dino', sans-serif;
}

