.header {
	background-color: #475C56;
	width: 100%;
}
.title {
	color: #C3C1C7;
	font-family: 'Dino';
	font size: 20px;
	letter-spacing: 2px;
}

.navbox{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.navbar{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;

}

.navlink {
	text-decoration: none;
	color: #C3C1C7;

}
.navlink:hover {
	color: #65636E;
}

.navstyle{
	gap: 18px;
	list-style: none;
	display: flex;
}

@font-face{
			font-family: 'Dino';
			src: local('Dinosaur');
		}
nav {
	font-family:'Dino', sans-serif;
}